
.container-app {
  /*background-color: red;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 4px;

}
  .left-col {
    /*background-color: green;*/
    position: absolute;
    top: 42px;
    left: 0;
    bottom: 0;
    right: 80%;
    border-right: 1px solid black;
    padding-left: 8px;
    overflow-x: hidden;
    overflow-y: auto;

  }
  .right-col {
    /*background-color: blue;*/
    position: absolute;
    top: 42px;
    left: 20%;
    bottom: 0;
    right: 0;
    padding-left: 8px;
    overflow-x: hidden;
    overflow-y: auto;
  }
